<header class="site-header wrap">
  <a class="logo" href="{{ '/' | relative_url }}">وحید علیمردانی</a>
  <nav aria-label="ناوبری اصلی">
    <a{% if page.url contains '/works/' %} class="is-current"{% endif %} href="{{ '/works/' | relative_url }}">آثار</a>
    <a{% if page.url contains '/notes/' %} class="is-current"{% endif %} href="{{ '/notes/' | relative_url }}">یادداشت‌ها</a>
    <a{% if page.url contains '/about/' %} class="is-current"{% endif %} href="{{ '/about/' | relative_url }}">درباره</a>
  </nav>
</header>
